.addContacts-container{
    width: 90%;
    padding: 20px;
    display: flex;
    margin-left: 5%;
    background-color: #f9f9f9;
    flex-direction: column;
    border: 1px solid #ddd;
    margin-top: 40px;

    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.saveContactsButton{
    text-align: center;
    justify-content: center;
    display: flex;
}
.addContacts-container label{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.addContacts-container input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgb(215, 215, 215);
}
.saveContactsButton button{
padding: 8px 26px;
font-size: 18px;
color: white;
background-color: orangered;
border: transparent;
border-radius: 5px;
}
.addcon{
    background-color: rgb(218, 217, 216);
    height: 100%;
}
.addconHolder{
    width: 80%;
    margin-left: 20%;
}
@media(max-width:1024px){
    .addconHolder{
        width: 100%;
        margin-left: -0%;
    }
    .addcon{
    background-color: rgb(218, 217, 216);
    height: 100%;
overflow-y: auto;
}
}