.businessButton{
    margin: 20px;
    float: right;
    
}
.activeStatus{
    padding: 20px;
    margin-left: 20px;
    margin-top: 70px;
    width: 90%;
    background: linear-gradient(90deg, rgb(154, 247, 247), rgb(98, 187, 255));

    border-radius: 10px;
    border: 1px solid black;
}
.activeStatus-holder{
    display: flex;
    
    border-bottom: 1px solid black;
    padding: 20px;
}
.active, .inactive {
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
  }
.result{
    padding: 20px;
    color: red;
    margin-bottom: 20px;
}
.selected {
    border-top: 1px solid black;
  }
  @media (max-width: 480px){
    .activeStatus{
   margin-left: 5%;
   width: 80%;
    }
  }