.c-header{
display: flex;
margin: 20px;
background-color: #ffffff;
padding: 5px;

border-radius: 5px;
}
.c-h2{
    display: flex;

}
.contacts-table table thead td{
          background-color:#e9edf0 !important;
          color: #000 !important;

}
.c-h1 h3{
    color: white;
    margin-top: 13px;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.c-h2 span{
    font-size: 32px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 600;
}
.c-h2 p{
    color: white;
}
.contacts-buttons{
    margin: 20px;
    display: flex;
    width: 96.7%;
   
}
.contacts-buttons button{
padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
border-radius: 5px;
color: black;
font-weight: 700;
padding-bottom: 5px;
}
.import{
    display: flex;
    justify-content: space-between;
}
.add{
    display: flex;
}
.importB button{
    background-color: #163b6d !important;
color: white;    font-weight: 400;

}
.d-header h2{
    font-size: 20px !important;
    color: #334e6f !important;
    font-weight: 800 !important;
}
.downloadB{
    margin-left: 20px;
}
.addB{
    margin-left: 20px;
}
.downloadB button{
    background-color: #163b6d !important;
    color: white;
    font-weight: 400;

}
.addB button{
    background-color: #163b6d !important;
    color: white;    font-weight: 400;


}
.contacts-table {
    width: 96%;
    padding:  20px auto;
    background-color: white;
    overflow-x: auto; /* For horizontal scrolling on smaller screens */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contacts-table table {
    width: 100%;
       margin-left:20px auto;
    border: 1px solid #ddd;
    text-align: left;
}
.er{
width: 94%;
margin-left: 1%;

background-color: #ffffff;
padding: 20px;
}

.contacts-table th, 
.contacts-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.contacts-table thead {
    background-color: #f4f4f4;
    color: #333;
}

.contacts-table thead tr {
    font-weight: bold;
    text-transform: uppercase;
}

.contacts-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.contacts-table tbody tr:hover {
    background-color: #ffffff; /* Highlight row on hover */
    transition: background-color 0.3s ease;
}

.contacts-table td:last-child {
    text-align: center;
}

.contacts-table td {
    font-size: 14px;
    color: #555;
}

.contacts-table th {
    font-size: 14px;
    color: #000;
}
.contacts-table{
    
}
.CPPPPP{
    width: 100%;
    display: flex;
      background-color:#e9edf0 !important;
}
.giofo{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.pokijhabvc{
    display: flex;
    justify-content: space-between;
    width: 50%;

}
.CPP{
    width: 85%;
    height: 100vh;
   margin-left: 19%;
      background-color:#e9edf0 !important;

}
.d-header{
    width: 95%;
    margin-left: 0%;
    margin: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: white;
}
.importA{
    background-color: white;
    width: 50%;
    padding-top: 6px;
    padding-left: 15px;
    margin-right: 10%;
}
@media (max-width: 768px) {
   
}

@media (max-width: 480px) {
    .contacts-table {
        width: 100%;
        overflow-x: auto; 
    }

    .contacts-table table {
        min-width: 600px; /* Ensures the table does not shrink */
        white-space: nowrap; /* Prevents text wrapping */
    }
    .importA{
    background-color: white;
    width: 96%;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 15px;
}
    .er{
width: 84%;
margin-left: 3.5%;

background-color: #ffffff;
padding: 20px;
margin-bottom: 30px;
}
    .d-header{
    
background-color: white;
padding: 1px;
text-align: center;
margin-left: 5%;
margin-right: 5%;
width: 90%;
margin-top: 10px;
border-radius: 10px;
      
    }
    .contacts-buttons{
        flex-direction: column;
        width: 90%;
    }
    .add{
        margin-top: 20px;
        justify-content: space-between;
    }
    .c-h2 {
        text-align: center;
        
    }
    .downloadB{
        margin-left: 0px !important;
    }
    .downloadB button{
          padding-top: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 14px;
    }
    .addB{
        margin-left: 0px;
    }
    .addB button{
        padding-top: 14px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 14px;
    }
    .pokijhabvc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
 
}
    .import{
        justify-content: space-between;
    }
     .contacts-table table {
        font-size: 10px;
    }

    .contacts-table td, .contacts-table th {
        padding: 10px;
    }
    .import{
        flex-direction: column;
    }
    .add{
        
        margin-top: 2px;
    }
    .importB
{
        width: 50%;
       
    }
  
    .add button{
width: 240px;
height: 40px;
    }
    .CPP{
        width: 100vw;
        height: 100vh;
        margin: 0px;
    }
    .importB button{
        width: 200px;
        height: 40px;
        margin-top: 6px ;

    }
    .giofo{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
}
}