.emailContainer{
    
    padding-left: 10px;
height: 40px;
    background-color: rgb(233, 232, 232);
    width: 900px;
    border-radius: 5px;
}
.emailContainer p{
    padding-top: 9px;
    font-size: 15px !important;
}
.rrtext{
    margin-top: 15px;
    width: 900px !important;
}
@media (max-width:480px) {
    .emailContainer{
    
    padding-left: 10px;
height: 40px;
    background-color: rgb(233, 232, 232);
    width:100%;
    border-radius: 5px;
    overflow: hidden;

}
.emailContainer p{
    padding-top:0px;
}
.rrtext{
    margin-top: 15px;
    width: 100% !important;
}
}