.crub{
    background-color: aqua;
    justify-content: center;
    text-align: center;
    justify-items: center;
    padding: 1px;
    background: #163b6d;
    color: rgb(251, 251, 251);
}.signature-block {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 370;
  line-height: 0.3;
}

.popup1-overlay {
background-color: #163b6d;
position: fixed;
width: 100%;
height: 100%;
 backdrop-filter: blur(10px);   /* 🔑 full-page blur */
  background: rgba(0, 0, 0, 0.3); /* optional dark tint */
  display: flex;
  
  
}

/* Popup box */
.popUp1 {
  background: white;
 
  border-radius: 10px;
 width:80%;
 margin-left: 10%;
 margin-top: 20px;
top:0;
height: 80%;

 
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}
.popuph{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;

}
.popupcontent{
    width: 99.7%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
}

.info-holder{
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
    width: 90%;
    margin-right: 5%;
    border-radius: 5px;
   
    margin-left: 5%;
  
height: fit-content;

}
.showTakeAction3 p{
color: white !important;
background-color: #000000;
padding: 10px;
border-radius: 10px;

}
.signatureDiv span{
color: white !important;
}
.adjustp p {
    margin-left: 10px;;
    margin-top: 8px;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.pset{
font-size: 13px !important;
font-weight: 450;
}
.prevIntro{
    margin-right: 100px;
    margin-top: 10px;
}
.toSelect{
    width: 80.7%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.searchInput{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.checkbox-list{

    height: 200px;
    overflow-y: auto;
    width: 80%;
    overflow-x: auto;
   
}
.info-holder label{
    font-weight: 700;
    font-size: larger;
    font-family:sans-serif;
}
.selected-emails{
    margin-top: 40px;
    margin-bottom: 30px;
}
.selected-emails h4{
    color: black;
    font-size: larger;
}
.email-item{
display: flex;



padding: 5px;


}
.email-item button{
    height: 5px;
    padding: 0px;
    background-color: red;
}
.templateSelect{
    width: 80.7%;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.subjectInput{
    width: 80%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.messageText{
    width: 80%;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 80px;
}
.formButtons{
    display: flex;
 float: right;
  margin-right:20%;
    margin-top: -40px;
}
.checkbox-item {
    border-bottom: 1px solid black;
 cursor: pointer;
}
.checkbox-item img{
    height: 80px;
    width: 80px;
    border-radius: 80px;
    margin-top: -10px;
    margin-left: 5px;
    margin-right: 10px;
    }
    .checkbox-item input{
        margin-top: 30px;
        
    }
    .spandiv{
        display: flex;
        margin-left: 20px;
     
        margin-top: -30px;
        margin-bottom: 30px;
    }
    .spandiv h4{
        color: black;
        
    }
    .spandiv h3{
        color: black;
    }
    .spamData{
margin-left: 20px;
word-wrap: break-word;
    }
    .spamImg{
        width: 40px;
    }
    .spamImg image{
        width: 100%;
    }
    .emailSpan{
        word-wrap: break-word;
        line-break: auto;
    }
    .addContacts{
        height: fit-content;
     
        width: 40%;
        margin-top: -440px;
        margin-right: 20%;
        margin-left: 20%;
        background-color: #d2daf9;
        position: fixed;
        border-radius: 5px;
    }
    .addContacts h3{
        color: black;
    }
    .addContacts input{
        height: 30px;
        border-radius: 5px;
    }
    .lastbutton{
        justify-content: space-between;
    }
    .manageHeadingTEmplate{
        width: 80%;
    }
    .scroll{
        cursor: pointer;
        background-color: #27479e;
        color: white;
        width: fit-content;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .selected-user-info{
   margin-left: 50px;
        text-align: left;
        justify-content: left;
        float: left;
        align-items: left;
    }
   
    .movecorner{
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 7px;
        display: flex;
        width: 100%;
         
            border-bottom: 1px solid rgb(160, 160, 160);
           
            margin-top: 3px;
    }
    .omove{
        margin-top: 30px;
    }
    .colorCOrner :hover{
 
 cursor: pointer;

    }
    .colorCOrner1{
   background-color: rgb(230, 242, 239);
       width: 80%;
       border-radius: 10px;
    }
    .movecorner:hover{
        background-color: white;
    }
    .colorCOrner{
        padding: 5px;
    }
.modal-overlay{
    background-color: #d2daf9;
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content{
background-color: rgb(255, 255, 255);
width: 80%;
margin-left: 10%;
margin-right:10%;
border-radius: 20px;
height: 86%;
overflow-y: auto;
justify-content: center;
  align-items: center;
  
padding-left: 10px;
padding-right: 10px;
padding-top: 20px;
padding-bottom: 20px;
}
.instyleprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.instyleprofile p{
    margin-top: -10px !important;
}
.prodet p{
  margin-top: 7px !important;
}
.colorforabout{
    background-color: #b6b7b8;
}
.practice-overlay{
     background-color: #d2daf9;
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;
}
.PrevIntrobutton{
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 25px;
  background-color: #eeba2b;
    
}
.PrevIntrobutton:hover{
    background-color: rgb(184, 186, 187);
}
.practiceHolder{
    background-color: white;
    margin-top: 3%;
    width: 50%;
    height: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 22px;
    padding-bottom: 22px;
     overflow-y: auto;
}
.repTokens p{
font-size: 12px !important;
margin-left: 10px;
font-weight: 600;
margin-top: 15px;}
@media(max-width:1024px){
    .practiceHolder{
    background-color: white;
    margin-top: 470%;
    width: 80%;
    height: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 22px;
    padding-bottom: 22px;
     overflow-y: auto;
}
    .info-holder{
        margin-top: 30px;
        padding: 20px;
        margin-bottom: 30px;
        width: 80%;
       margin-left: 6%;
       margin-right: 10%;
        border-radius: 10px;
       
        
       
    height: fit-content;
    } 
    .searchInput{
        width: 100%;
    }
    .templateSelect{
        width: 100%;
    }
    .manageHeadingTEmplate{
        width: 100%;
    }
    .prevIntro{
        margin-right: 0px;
        margin-top: 15px;
    }
    .checkbox-list{
        background-color: rgb(212, 223, 220);
        height: 200px;
        overflow-y: auto;
       overflow-x: scroll;
        width: 100%;
    }
    .spandiv{
        display: flex;
    }
    .spamData{
      
      width: 70%;
            }
            .spamImg{
                width: 30%;
               
            }
            .spamImg image{
               
            }
            .emailSpan{
              
            }
            .addContacts{
                height: fit-content;
             
                width: 90%;
                margin-top: -200px;
                margin-right: 0%;
                margin-left: -6%;
                background-color: #d2daf9;
                position: fixed;
            }
            .addContacts input{
                height: 30px;
            }
            .email-item{
                display: flex;
                justify-content: space-between;
                width: 100%;
                background-color: rgb(255, 255, 255);
                padding: 5px;
                
                
                }
                .selected-user-photo{
width: 30%;
                }
                .selected-user-info{
                    width: 100%;
                    word-break: normal;
                    margin-left: -10px;
                   
                }
                .lastbutton{
                    flex-direction: column;
                }
            .formButtons{
                margin-top: 20px;
            }
            .toSelect{
                width: 100%;
            }
            .subjectInput{
                width: 100%;
            }
            .messageText{
                width: 100%n;
            }
}