.myAfflilationPage{
    display: flex;
    background-color: rgb(218, 217, 216);
   
}

.myAffiliationCOntainer{
   
    height:100vh;
    margin: 0px;
    width: 85%;
  margin-left: 19%;
}
.myAffiliation-holder{
padding: 20px;
background-color: white;
margin: 20px;
}
.affiliationDate{
    display: flex;
    margin-bottom: 20px;
}
.affiliationDate input{
    width: 180px;
    margin-right: 20px;
}
.myAffiliation-holder table thead{
    background-color: rgb(198, 195, 190);
}
.myAffiliation-holder table{
    border: black;
}
.e1-header{
    background-color: rgb(29, 73, 230);
    margin: 20px;
    padding: 10px;
}


@media (max-width:1024px){
  
    .affiliationDate{
        display: flex;
        margin-bottom: 20px;
        flex-direction: column;
    }
    .myAffiliation-holder{
        width: 100%;
        margin-left: -16%;
       
    }
    .myAffiliationCOntainer{
        margin-left:"-40px";
        
    }
    .myAffiliation-holder table{
        display: block;
       
        overflow-x: auto;
        white-space: nowrap; /* Prevents text wrapping */
    }
    .e1-header{
        background-color: rgb(29, 73, 230);
        margin-left: -16%;
        padding: 10px;
        width: 107%;
    }
    .affiliationDate input{
        width: 100%;
        margin-bottom: 20px;
    }
    .myAfflilationPage{
width: 100%;
margin-left: 0%;
margin-right: 0%;

    }
}