.orderStatusConntainer{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 20px;
background-color: white;
}
.OSP{
    display: flex;
    width: 100%;
    background-color: rgb(218, 217, 216);
}
.Ordersp{
    width: 75%;
    height: 100vh;
    background-color: rgb(243, 241, 239);
margin-left: 20%;
}
.ods{
display: flex;
justify-content: space-between;
}
.odsTable {
    overflow-x: auto;
}
.odsTable table{
    white-space: nowrap;
    table-layout: auto;
    border-collapse: collapse;
}
.odsTable th,.odsTable td{
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd;
}
.ods p{
    font-weight: 600;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.odsButton button :hover{
background-color: rgb(158, 112, 26);
}

@media(max-width:480px){
    .ods{
        flex-direction: column;
        text-align: center;
    }
    .odsButton{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .Ordersp{
        width: 100%;
        margin-left: 0%;
      
    }
}