.orderHistoryTable {
    background: linear-gradient(90deg, rgb(154, 247, 247), rgb(98, 187, 255));

    margin-top:120px ;
    margin-left:20px ;
    margin-right: 20px;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  .orderBackButton{
    margin: 20px;
    float:right ;
    
  }
  .orderHistoryTable table {
    width: 100%; /* Ensure the table takes the full width */
    border-collapse: collapse;
    table-layout: auto; /* Allow the table to resize */
  }
  
  .orderHistoryTable th,
  .orderHistoryTable td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent word breaking */
  }
  
  .orderHistoryTable th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .orderHistoryTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .orderHistoryTable tr:hover {
    background-color: #f1f1f1;
  }
  .rgb :hover{
    background-color: rgb(255, 213, 1);
  }
  @media (max-width: 480px){

  }