.passwordContainer{
    display: flex;
    background-color: rgb(255, 255, 255);
}
.passwordHolder{
    height:fit-content;
    margin: 0px;
    width: 100%;
 
}
.passChange{
    margin-left: 2%;
    width: 95%;
  padding-top: 10px;
  padding-left: 5px;
  background-color: rgb(255, 255, 255);
}
.passChange input{
    width: 90%;
    height: 30px;
        border: 2px solid rgb(222, 219, 219);

    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.passButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust spacing */
}

@media (max-width:480px){
    .passwordHolder{
        height:100vh;
        margin: 0px;
        width: 50%;
      background-color: rgb(255, 255, 255);
    }  
.passChange{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
    .passChange input{
        width: 85%;
        height: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 5px;
    }
    
    .passButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    
    }
    .passButton button{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .passChange{
      
     
    
     
        background-color: rgb(255, 255, 255);
    }

}