.passwordContainer{
    display: flex;
    background-color: rgb(218, 217, 216);
}
.passwordHolder{
    height:fit-content;
    margin: 0px;
    width: 100%;
  background-color: aqua;
}
.passChange{
    margin-left: 15.3%;
    padding: 20px;
    background-color: rgb(218, 217, 216);
}
.passChange input{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
.passButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust spacing */
}

@media (max-width:480px){
    .passwordHolder{
        height:100vh;
        margin: 0px;
        width: 100%;
      background-color: rgb(255, 255, 255);
    }  
    .passChange input{
        width: 90%;
        height: 30px;
        margin-bottom: 20px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .passButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    
    }
    .passButton button{
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .passChange{
        margin-left: 0%;
        padding: 20px;
        background-color: rgb(218, 217, 216);
    }
}