.reply-page{
    display: flex;
}
.reply-container{
    background-color: rgb(232, 229, 226);
   width: 85%;
 height: fit-content;
}
.reply-holder{
    margin: 20px;
    background-color: white;
    padding: 10px;
}
.data-holder{
    display: flex;
}
.mailDrop1{
padding-top: 5px;
display: flex;
padding-bottom: 5px;
padding-left: 25px;
padding-right: 25px;
border: 1px solid blue;
color: blue;
}
.mailDrop{
  
}
.mailDrop1 p{
    color: blue;
}
.mailSearch{
margin-left: 30px;
}
.mailSearch select{
    height: 57px;
    width: 230px;
}
.replyMessage{
    margin-top: 20px;
}
.replyText textarea{
width: 70%;
height: 150px;
}
.sendReply{
    float: right;
    
}
.replySubject{
    margin-top: 60px;
}
.replyIntro{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
border-top: 1px solid black;
border-bottom: 1px solid black;
}
.replyData h4{
color: black;
}
.mailDAta{

}
.iconpp{
    height: 50px;
    width: 50px;
}
.iconpp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
@media(max-width:480px){
    .reply-container{
        background-color: rgb(245, 240, 233);
       width: 100%;
     height: fit-content;
     margin-left: -53%;
    }
    .data-holder{
        flex-direction: column;
    }
    .replyText textarea{
        width: 100%;
        height: 150px;
        }
        .mailSearch select{
            height: 57px;
            width: 100%;
        }
        .mailSearch{
            margin-left: 0px;
            }
}