.uk1:hover{
background-color: rgb(240, 239, 238);

}
.uk1{
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  padding-top: 20px;
  
}
.rdsewdx2{

}
.uk166{
    height: 40px;
  background-color: rgb(255, 255, 255);
  
  padding-top: 20px;
}
.uk166.active{
 width: 100%;
  background-color: black;
  margin-left: 0px;
  margin-right: -20px;
  margin-top: -10px;
  height: 29px;
padding-top: 20px;
}
.navs ul{
  font-size: 15px !important;
}
.navs{
  width: 92.2% !important;
}
.tracsimG img{
  height: 40px;
  margin-left: 20px;  
}
.menu-item{
  color: black;
  background-color: rgb(168, 25, 25);
  
}
.menu-item.active{
  color: white !important;
  background-color: rgb(255, 255, 255);

  height: 40px;
  
  margin-left: -22px;
}

.uk1.active:hover{
  background-color: black;

}
.uk1.active{
  width: 100%;
  background-color: black;
  margin-left: 0px;
  margin-right: -20px;
  margin-top: -10px;
  height: 29px;
padding-top: 20px;

}
.uk2.active{
  width: 100%;
  background-color: black;
  margin-left: -10px;
  margin-right: -20px;
  margin-top: 10px;
  height: 29px;
  color: white;
padding-top: 20px;

}
.uk2.active ul{
  margin-top: 0px !important;
}
.intro11{
  display: flex;
  padding-left: 5px;
   
}
.rdsewdx{
  
  display: flex;
  margin-top: 1px;
  border-top: 1px solid black;
  padding-left: 5px;
  margin-left: -5px;
   
}
.rdsewdx2{
  
  display: flex;
  margin-top: 1px;
  
  padding-left: 5px;
  margin-left: -5px;
    border-bottom: 1px solid black;
}
.rdsewdx2 ul{
  font-weight: 600;
}
.rdsewdx ul{
  margin-left: -24px !important;
}
.resources{
  display: flex;
  justify-content: space-between;
}
.rdsewdx.active{
    width: 100%;
  background-color: black !important;
  margin-left: -10px;
  margin-top: -px;
  height: 22px;
padding-top: 5px;

padding-bottom: 30px;
color: white !important;
}
.rdsewdx2.active{
    width: 100%;
  background-color: black !important;
  margin-left: -10px;
  margin-top: -px;
  height: 22px;
padding-top: 5px;

padding-bottom: 30px;
color: white !important;
}
.rdsewdx.active ul{
  margin-left: -23px !important;
}
.uk22{
  margin-top: 9px;
  display: flex;
  margin-left: -10px;
}
.uk22 ul{
margin-top: 2px !important;
margin-left: -6px !important;
}
.asDiv{
display: flex;
justify-content: space-between;
background-color: white;

}
.inDiv{
display: flex;

justify-content: space-between;
}
.intro9{
  border-bottom: 1px solid black;
}
.asDiv.active{
display: flex;
justify-content: space-between;
margin-left: -19px;
background: black;
width: 103.7%;
color: white;
}
.inDiv.active{
  display: flex;
justify-content: space-between;
margin-left: -19px;
background: black;
width: 103.7%;
color: white;
}
.intro11:hover{

background-color: rgb(240, 239, 238);
}
.rdsewdx:hover{
  
background-color: rgb(240, 239, 238);
}
.navs{
  overflow-y: auto;
}