.signature-holder{
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  
background-color: white;}
.signature-holder textarea{
    width: 100%;
    height: 150px;
}
.signature-holder button{
margin-top: 30px;
padding-left: 20px;
padding-right: 20px;
color: black;
background-color: orange;
}
.SPPP{
width: 100%;
display: flex;
      background-color:#e9edf0 !important;
}
.signature-holder textarea{
    font-size: 17px;
}
.SPP{
    width: 85%;
    height: 100vh;
    margin-left: 19%;
      background-color:#e9edf0 !important;
}
@media(max-width:480px){
    .signature-holder{
        width: 80%;
        margin-left: 5%;
        margin-right: 10%;
    }
    .SPP{
        width: 100vw;
        height: 100vh;
        margin: 0px;
    }
    .SPPP{
        width: 200%;
    }
}