.mobnav2e{
    display: none;
}
@media(max-width:1024px){
.mobnav2e{
    width: 270px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: block;
   
}
.mobnav2e h2{
    font-size: 18px !important;
}
.mobnav2e h3{
    font-size: 15px !important;
}
.menu-item.active {
  background-color: black;
  color: white !important;
  margin-left: -18px;
  padding-top: 15px;
  height: 26px;
  margin-bottom: 7px;
}

.menu-item2.active h3{
  color: white  !important;
}
.menu-item.active h3{
  color: white  !important;
}
.menu-item2.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item3.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item4.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item5.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item6.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item7.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item8.active {
  background-color: black;
  color: white !important;
  margin-left: -20px;
}
.menu-item.active p{
    color: white;
    padding-top: 5px;
}
.menu-item {
  text-decoration: none;
  color: black;
}
.introduction4.active{
  background-color: black !important;
color: white !important;
height: 40x;
margin-top:0px;
margin-bottom: 10px;
margin-left: -20px;
padding-left: 30px;
padding-top: 0px;
padding-bottom: 5px;
}
.introduction4{
  color: black;

}
.introduction41.active{
  background-color: black !important;
color: white !important;
height: 40x;
margin-top:0px;
margin-bottom: 10px;
margin-left: -20px;
padding-left: 30px;
padding-top: 0px;
padding-bottom: 5px;
}
.introduction41{
  color: black;

}
.constactUS{
display: flex;
 border-bottom: 1px solid black;

}
.apppphelp{
display: flex;
 border-bottom: 1px solid black;
}
.constactUS.active{
  background-color: black !important;
  margin-left: -20px;
  padding-top: 15px;
  padding-left: 20px;
  color:white !important;
}
.constactUS.active h3{
  color: white !important;
}

}