.mobnav{
    display: none;
}
@media(max-width:480px){
    .mobnav{
        display: block;

    }
    .mobnav h2{
 color: white;
        font-size: large;
    }
    .menuButton{
        margin: 20px;
    }
    .mobMenu{
        height: fit-content;
        width: 60%;
        background-color: rgb(40, 108, 225);
        position: absolute;
        margin-top: -74px;
    }
    .proPic2{
        display: flex;
        justify-content: space-between;
    }
    .picImage{
        height: 80px;
        border-radius: 50%;
         margin-left: 32%;
    }
    .picImage img{
        height: 100%;
        border-radius: 50%;
    }
    .pic4{
       width: 90%;
        margin-top: 20px;
    }
    .userName{
        width: 100%;
        word-wrap: break-word; /* Ensures long words break */
        overflow-wrap: break-word; /* Additional support for breaking words */
        white-space: normal; 
        padding: 10px;/* Allows text to wrap */
        text-align: center;
    }
    .userName h2{
        color: white;
        font-size: large;
        margin-top: 0px;
    }
    .home4{
display: flex;
padding: 10px;
    }
    .myMembership4{
        display: flex;
        padding: 10px;
        margin-top: -10px;
    }
    .myProfile4{
        display: flex;
        padding: 10px;
        margin-top: -10px;
    }
    .logout4{
        display: flex;
        padding: 10px;
        margin-top: -10px;
    }
    .introduction4{
        display: flex;
        padding: 10px;
        margin-top: -10px;
        justify-content: space-between;
    }
    .affiliation4{
        display: flex;
        padding: 10px;
        margin-top: -10px;
    }
    .myaffiliation4{
        display: flex;
        padding: 10px;
        margin-top: -10px;
    }

}