.a_u{
    height: 200px;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    margin-top: -20px;

}
.a_u h1{
    margin-top: 20px;
    color: white;
    text-align: center;
    padding-top: 80px;

}
.About_us-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}
.a_1{
    
}
.a_1 h1{
margin-top: 40px;
font-weight: 500;
margin-bottom: 40px;
color: rgb(3, 3, 152);
}
.a_1 p{
    color: black;
    justify-content: left;
}
.a_2{
    height: 400px;
    background-color: antiquewhite;
    width: 100%;
}
.a_2 img{
    height: 400px;
    width: 100%;
}
.a_3{
    margin-top: 10px;
   
}
.a_3 h1{
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(3, 3, 152);
}
.a_3 p{
    color: black;
}
.a_4{
    display:flex ;
}
.a_4 img{
    max-height: 350px;
    
}
.a_42 p{
    color: black;
}
.a_5{
    display: flex;
}
.a_51{
width: 50%;
background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
border-radius: 20px;
padding: 10px;
}
.a_51 h1{
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(20, 20, 250);

}
.a_51 p{
color: rgb(223, 219, 219);
}
.a_5 h3{
    color: orange;
}
.a_52{
    width: 50%;
}
.a_6{
    display:flex ;
    margin-top: 10px;
}
.a_61{
    width: 50%;
    
}
.a_62{
    width: 50%;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
border-radius: 20px;
padding: 10px;
}
.a_62 h3{
    color: orange;
}
.a_62 p{
    color: rgb(223, 219, 219);

}
.a_62 h1{
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(20, 20, 250);
}
.a_7{
    
    margin-top: 60px;
}
.a_7 h1{
    font-weight: 500;
    margin-bottom: 40px;
    color: rgb(3, 3, 152);
}
.a_7 p{
    color: black;
}
@media (max-width: 480px){
    .a_5{
        display: flex;
        flex-direction: column;

    }
    .a_51,.a_52{
width: 100%;
    }
    .a_6{
        display: flex;
        flex-direction: column;

    }
    .a_4{
        display: flex;
        flex-direction: column;
    }
    .a_61,.a_62{
width: 100%;
    }
}