.member-holder{
width: 90%;
margin-top: 20px;
margin-left: 5%;
margin-right: 5%;
border-radius: 10px;
height: fit-content;
padding: 20px;
margin-bottom: 20px;
background-color: white;
}
.container{
  background-color: rgb(195, 199, 202);
}
.ProfilePic-holder{
  width: 100%;
  height:300px;
  background-color: rgb(214, 222, 219);

}
.backgroundPic{
  width: 100%;
  background-color: aliceblue;
  height: 100%;
  
}
.backgroundPic img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.userPic{
  width: 12%;
  margin-left: 44%;
  margin-right: 38%;
  height: 50%;
  margin-top: -80px;
  border-radius: 50%;
  
  
}
.userPic img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.userNAME{
  margin-top: 7%;
  text-align: center;
}
.informaion{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  background: linear-gradient(to right, black, rgb(54, 53, 53));

color: white;
margin-bottom: 10px;
}
.informaion h3{
  color: white;
  font-size: larger;
}
.infoDiv{
  display: flex;
  justify-content: space-between;
margin-top: 20px;

text-align: center;
}
.infoDiv1{
text-align: center;
justify-content: center;

}
.infoDiv2{
width: 50%;
}
.informationHolder{
  display: flex;
  justify-content: space-between;
}
.linksContainer{
  padding: 20px;
  background-color: orange;
  width: 40%;
  height: 50px;
  
  margin-top: 20px;
  display: flex;
justify-content: space-between;
  border-radius: 30px;
}
.About-Container{
  padding: 20px;
}
@media(max-width:480px){
  .member-holder{
    width: 90%;
    margin-top: 20px;
margin-left: -0%;
    border-radius: 10px;
    height: fit-content;
    
    margin-bottom: 20px;
    background-color: white;
    }
    .container{
      background-color: rgb(195, 199, 202);
    }
    .ProfilePic-holder{
      width: 100%;
      height:300px;
      background-color:white;
    
    }
    .backgroundPic{
      width: 100%;
  margin-left: 0%;
      background-color: aliceblue;
      height: 75%;
      border-radius: 10px;
    }
   .backgroundPic img{
    border-radius: 10px;
   }
    .userPic{
      width: 30%;
      margin-left: 34%;
      margin-right: 35%;
      height: 38%;
      margin-top: -65px;
      border-radius: 50%;
      background-color: aqua;
      
    }
    .userNAME{
      margin-top: -5%;
      text-align: center;
    }
    .informationHolder{
      flex-direction: column;
    }
    .linksContainer{
      padding: 20px;
      background-color: orange;
      width: 90%;
      height: fit-content;
      flex-direction: column;
      margin-top: 20px;
      display: flex;
    justify-content: space-between;
      border-radius: 30px;
    }
    .informaion{
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 20px;
      padding: 20px;
      width: 90%;
      background: linear-gradient(to right, black, rgb(54, 53, 53));
    
    color: white;
    margin-bottom: 10px;
    }
    .infoDiv{
flex-direction: column;
    }
    .infoDiv2{

    }
}