.member-holder{
width: 90%;
margin-top: 20px;
margin-left: 5%;
margin-right: 5%;
border-radius: 10px;
height: fit-content;
padding: 20px;
margin-bottom: 20px;
background-color: rgb(255, 255, 255);
}
.container{
  background-color: rgb(195, 199, 202);
}
.ProfilePic-holder{
  width: 100%;
  height:300px;
  background-color: rgb(214, 222, 219);

}
.backgroundPic{
  width: 100%;
  background-color: aliceblue;
  height: 100%;
  
}
.backgroundPic img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.userPic{
  width: 12%;
  margin-left: 12%;
  margin-right: 38%;
  height: 50%;
  margin-top: -80px;
  border-radius: 50%;
  
  
}
.section2{
margin-left: 7%;
color: rgb(0, 0, 0);
}
.section2 h3{
  color: rgb(0, 0, 0);
}
.section3{
  display: flex;
  margin-top: 20px;
  width: 30%;
  margin-top: 40px;
  justify-content: space-between;
}
.EmailLink{
text-align: center;
color: rgb(0, 0, 0);
}
.PhoneLink{
  text-align: center;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
.WebsiteLink{
  text-align: center;
  color: rgb(0, 0, 0);
}
.AffiliationLink{
  text-align: center;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
.divider2{
  margin-right: 20px;
}
.userPic img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.userNAME{
  margin-top: 7%;

  margin-left: 14%;
}
.userNAME h2{
  color: rgb(0, 0, 0);
}
.informaion{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
 

color: rgb(0, 0, 0);
margin-bottom: 10px;
}
.informaion h3{
  color: rgb(0, 0, 0);
  font-size: larger;
}
.infoDiv{
  display: flex;
  justify-content: space-between;
margin-top: 20px;

text-align: center;
}
.infoDiv1{
text-align: center;
justify-content: center;

}
.infoDiv2{
width: 50%;
}
.informationHolder{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.linksContainer{
  padding: 20px;
  background-color: orange;
  width: 40%;
  height: 50px;
  flex-direction: column;
  margin-top: 20px;
  display: flex;
justify-content: space-between;
  border-radius: 30px;
}
.About-Container{
  padding: 20px;
  width: 70%;
background-color: aliceblue;
}
.divider{
  display: flex;
  justify-content: space-between;
}
@media(max-width:480px){
  .member-holder{
    width: 90%;
    margin-top: 20px;
margin-left: -0%;
    border-radius: 10px;
    height: fit-content;
    
    margin-bottom: 20px;
    background-color: white;
    }
    .container{
      background-color: rgb(195, 199, 202);
    }
    .ProfilePic-holder{
      width: 100%;
      height:300px;
      background-color:white;
    
    }
    .backgroundPic{
      width: 100%;
  margin-left: 0%;
      background-color: aliceblue;
      height: 75%;
      border-radius: 10px;
    }
   .backgroundPic img{
    border-radius: 10px;
   }
    .userPic{
      width: 30%;
      margin-left: 34%;
      margin-right: 35%;
      height: 38%;
      margin-top: -65px;
      border-radius: 50%;
      background-color: aqua;
      
    }
    .userNAME{
      margin-top: 5%;
      text-align: center;
      margin-left: 0%;
    }
    .section2 h3{
      color: black;
    }
    .section2{
      color: black;
      margin-top: -5px;
      margin-left: 5%;
      margin-bottom: 10px;
    }
    .userNAME h2{
      color: black;
    }
    .informationHolder{
      flex-direction: column;
    }

    .informaion{
      margin-top: 10px;
      border: 1px solid black;
      border-radius: 20px;
      padding: 20px;
      width: 90%;
      background: linear-gradient(to right, black, rgb(54, 53, 53));
    
    margin-bottom: 10px;
    }
 
    .About-Container{
      padding: 20px;
      width: 90%;
    background-color: aliceblue;
    }
    .divider{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .section3{
      width: 90%;
      padding: 20px;
    }
    .EmailLink{
      text-align: center;
      color: rgb(0, 0, 0);
      }
      .PhoneLink{
        text-align: center;
        color: rgb(3, 3, 3);
        margin-top: 20px;
      }
      .WebsiteLink{
        text-align: center;
        color: rgb(0, 0, 0);
      }
      .AffiliationLink{
        text-align: center;
        margin-top: 20px;
        color: rgb(0, 0, 0);
      }
}