.wada{
    position: fixed; 
    flex-direction: column;/* Ensures the popup is on top */
    top: 0;
    left: 0;
     right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's above other content */
}
.wada img{
    height: 500px;
    width: 500px;
}
.wada button{
    background-color: red;
    margin-left: 500px;
}
@media(max-width:480px){
    .wada img{
        height: 250px;
        width: 250px;
    }
    .wada button{
        background-color: red;
        margin-left: 250px;
    }
}