.pricing-holder{
width: 70%;
margin-left: 15%;
margin-right: 15%;
text-align: center;
height: fit-content;
margin-bottom: 20px;
}
.ph1{
    height: 70px;
    text-align: center;
    background: #27479e;
    margin-top: -26px;
}
.p1h1 h1{
    padding-top: 17px;
    color: white;
    font-size: 33px;
}
.pricing-details2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.pd1,.pd2,.pd3{
    width: 30%;
    margin-top: 30px;
    border: .04rem solid rgb(185, 180, 180);
    height: fit-content;
    text-align: center;
    border-radius: 20px;
}
.pricing-details2 button{
margin-top: 20px;
padding: 15px;
background-color: blue;
font-weight: 800;
color: white;
font-size: larger;
}
.pricing-details2 button:hover{
    box-shadow: none;
    background-color: aliceblue;
    border: 1px solid black;
    color: black;
}
.pricing-details2 ul{
    text-decoration: none;
}
.pd1 ul, .pd2 ul, .pd3 ul {
    list-style-type: none;
    padding: 0;
}
.getb{
margin-bottom: 30px;
}

.popup{
    height: fit-content;
   background: linear-gradient(to right, rgb(191, 215, 215), rgb(191, 215, 215));

    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
    position: fixed;
    padding-bottom: 20px;
}
.popmsg{
    display: flex;
    text-align: center;
    padding: 10px;
}
.popmsg h2{
    color: white;
}
.paybutton{
    border-top: .01rem solid black;
    padding-top: 40px;
    justify-content: left;
    
}
.paybutton button{
    margin-left: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(239, 120, 35);
}
.pricingSearch{
height: fit-content;
width: 100%;
background-color: #0e5eb3;


display: flex;

justify-content: space-between;
}
.priceData{
color: white;
margin-top: 3%;
width: 50%;

margin-bottom: 3%;
margin-left: 7%;
}
.priceData h1{
    color: white;
}
.priceData p{
    color: white;
}
.priceSearch{
height:40px;

margin-right: 7%;
margin-top: 5%;

width: 50%;
justify-content: space-between;
display: flex;
}
.searchdiv{
    width: 75%;

}
.searchdiv input{
    width: 99%;
    height: 100%;
}
.ppbutton{
    width: 24%;
}
.ppbutton button{
    width: 100%;
    height: 110%;
    background-color: rgb(0, 0, 0);
    margin-top: -0%;
    border-radius: 0px;
}
.addDrop select{
    width: 80%;
    height: 40px;
}
.memberDrop select{
    width: 80%;
    height: 40px;
   
}
.addDrop p{
    color: black;
}
.memberDrop p{
    color: black;
}
@media (min-width: 601px) and (max-width: 1024px){
    .pricing-details2{
        display: flex;
        flex-direction: column;
    }
    .pd1,.pd2,.pd3{
        width: 100%;
    }
    .pricing-holder:hover{
        background-color:white;
    }
      }
      @media (max-width: 480px){
        .pricing-details2{
            display: flex;
            flex-direction: column;
        }
        .pd1,.pd2,.pd3{
            width: 100%;
        }
        .pricing-holder :hover{
            background-color:white;
        }
        .pricingSearch{
            display: flex;
            flex-direction: column;
        }
        .priceData{
            
        }
        .priceSearch{
            width: 90%;
            margin-bottom: 20px;
            margin-left: 5%;
            margin-right: 5%;
        }
        .searchdiv{
width: 70%;
        }
        .ppbutton{
            width: 30%;
        }
      }
      