.serch-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00FFFF, #007FFF);
    height: 150px;

}

.sh2 {
    margin-bottom: 5px;

    height: 30px;
    padding-top: 20px;
    text-align: center;
    color: white;
    margin-top: 0px;
    font-size: 19px;
    font-weight: 800;
    
}
.sh2 h2{
    margin-top: 0px;
}
h2{
    font-family: Arial;
}
p{
    font-family: "Merriweather", serif;
}
h1{
    font-family: "Ubuntu", serif;
}
.h3{
    font-family: "Roboto", serif;
}
.h2{
    font-family: "Open Sans", serif;
}
.hd2-details h3{
    font-size: 19px;
}
.hd3-details h3{
    font-size: 19px;
}
.sh3 {
    height: 10px;
    display: none;
}

.search-input {
    display: flex;
    text-align: center;
    margin-top: 15px;
    justify-content: center;
    align-items: center;

}

.search-input input {
    width: 50%;
    height: 33px;
    margin-left: -40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: transparent;
}

.search-input button {
   
    border-radius: 0px;
    width: 150px;
    background-color: orange;

    border: transparent;
}

.network-container {
    display: flex;
    margin-top: 28px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.network-container button {
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 25px;
    padding-right: 25px;

    color: aliceblue;
    background: linear-gradient(to right, #e38418, #cff720);
}

.home-details {
    height: fit-content;
    margin-bottom: 20px;

    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.hd1 {
    display: flex;
}

.hd1-pic {
    width: 50%;
    height: 350px;
}

.hd1-details {
    text-align: center;
    align-items: center;
    justify-content: center;
    ;
    width: 50%;
    margin-top: 40px;
    font-size: 20px;
}

.hd1-details button {
    margin-top: 20px;
    height: 30px;
    width: 150px;
    background-color: orange;
}

.line-1 {
    margin-top: 130px;
    font-weight: 800;
    color: black;
}

.hd2 {
    display: flex;
}

.hd2-pic {
    width: 50%;
    height: 350px;
}

.hd2-details {
    text-align: center;
    align-items: center;
    justify-content: center;
    ;
    width: 50%;
    margin-top: 10px;

}

.hd2-details h3 {
    text-align: left;

    color: orange;
}

.hd2-details p {
    text-align: left;
}

.hd3 {
    display: flex;
}

.hd3-pic {
    width: 50%;
    height: 350px;
}

.hd3-details {
    text-align: center;
    align-items: center;
    justify-content: center;
    ;
    width: 50%;
    margin-top: 10px;

}

.hd3-dd h3 {
    text-align: left;
    color: orange;
}

.hd3-dd p {
    text-align: left;
}

.bottom {
    height: 140.2px;
    background-color: rgb(255, 249, 247);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bottom h1 {
    color: black;
    margin-top: 20px;
}

.bott {

    height: 50px;
    padding-top: 7px;
}

.bottnav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 6%;
    margin-left: 47%;
    margin-right: 47%;
    text-align: center;
    transition: 0.3s;
}

.bottnav3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 12%;
    margin-left: 44%;
    margin-right: 44%;
    text-align: center;
    transition: 0.3s;
}

.bottnav1,
.bottnav2 {
    height: 5px;
    width: 50%;
}

.bottnav1 {
    background-color: orange;
}

.bottnav2 {
    background-color: rgb(96, 96, 94);
}

.bottnav:hover {
    width: 12%;
    margin-left: 44%;
    margin-right: 44%;
}

.bottnav3:hover {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.cardBottom {
    height: 600px;
    width: 100%;
    background-color: rgb(8, 0, 40);
    text-align: center;
}

.cdh {
    padding-top: 20px;
}

.cdh h1 {
    color: white;
}

.cardP {
    margin-top: 10px;
    
}
.cardP p{
    color: white;
}
.carousel-pic{
    height: 70%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

    border-radius: 40%;
    justify-content: center;
   
    align-items: center;
 
    
}
.carousel-pic img{
    border-radius: 100px;
    height: 80px;
    border: 5px solid rgb(220, 139, 17);
    margin-left: -65px;
}
.carousel-pic span{
    height: 50px;
    width: 100%;
    background-color:rgb(8, 0, 40);
    position: absolute;

    
}
.carousel-container{
    width: 600px;
    text-align: center;
    margin-bottom: 10px;
    border: .10px solid black;
    background-color:white;
    width: 50%;
    margin-top: 60px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    border: transparent;
}
.carousel-content{
margin-top: 100px;
border-radius: 20px;
}
.carousel-container:hover{
  background-color: #00FFFF;
  box-sizing: border-box;
  box-shadow: 18px rgba(246, 243, 243, 0.15);
}


@media (max-width: 480px) {

    .search-input {
        display: flex;
        flex-direction: column;
    }

    .search-input input {
        width: 80%;
        border-radius: 5px;
    }

    .search-input button {
        margin-top: 5px;
        border-radius: 5px;
    }

    .serch-container {
        height: 250px;
    }

    .hd1 {
        display: contents;
        flex-direction: column;
    }

    .hd1-details {
        width: 100%;
    }

    .hd1-pic {
        width: 100%;
    }

    .hd2 {
        display: contents;
        flex-direction: column;
    }

    .hd2-details {
        width: 100%;
    }

    .hd2-pic {
        width: 100%;
    }

    .hd3 {
        display: contents;
        flex-direction: column;
    }

    .hd3-details {
        width: 100%;
    }

    .hd3-pic {
        width: 100%;
    }
}