.Navbar-Container{
    height: 60px;
    width: 100%;
   background-color: white;

    justify-items: center;
    padding: 20px;
}
.navbar-holder{
    display: flex;
}
.navbar-holder img{
    margin-top: 4px;
}
.navbar-holder li{
    margin-left: 20px;
    font-weight: 600;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.navbar-holder li:hover{
    border-bottom: 5px dotted rgb(255, 136, 0);
    color: rgb(226, 16, 16);
    font-weight: 900;
}
@media(max-width:480px){
    .Navbar-Container{
        display: none;
    }
}