.Navbar-Container{
    height: 60px;
    width: 100%;
   background-color: white;

    justify-items: center;
    padding: 20px;
}
.navbar-holder{
    display: flex;
}
.navbar-holder img{
    margin-top: 4px;
}
.navbar-holder li{
    margin-left: 20px;
    font-weight: 600;
    font-size: medium;
    font-family:sans-serif;
}
.navbar-holder li:hover{
   
    color: rgb(226, 16, 16);
 
}
@media(max-width:480px){
    .Navbar-Container{
        display: none;
    }
}