.headerContainer{
    height: 70px;
background-color: #d4dfed;
display: flex;
width: 100%;
align-items: center;

    justify-content: space-between;
   

}
.header {
    display: flex;
    position: relative; /* Ensures the `.usernav` is positioned relative to this container */
}

.userProfile-container{
display: flex;
align-items: center;
float: right;


}
.profile-pic{
height: 50px;
width: 50px;
background-color: white;
border-radius: 5px;


}
.profile-name{
margin-left: 10px;
font-size: 16px;
padding-right: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.userNav-container{
    background-color: #000000;
   
    width: 300px;

    margin-top: 230px;
   

}

.arrow{
    display: flex;
    cursor: pointer;
   position: absolute;
   color: blue;
   margin-top: -10px;
   
}
.a1{
    position: relative;
}
.home-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #d4dfed;
    display: flex;
    margin-top: 30px;
}
.navs{
    color: wheat;
    padding: 10px;
}


.usernav{
    width: 400px;
    position:absolute;
    height: 100vh;
    background-color: #000000;
    cursor: pointer;
}
.membership{
    display: flex;
    border-bottom: 1px solid;
}
.navs h3:hover{
    color: rgb(25, 232, 18);
}
.logout{
    display: flex;
}
.introduction{
    display: flex;
    justify-content: space-between;
}
.businessProfile{
    display: flex;
    border-bottom: 1px solid;
}
.accountSettings{
    display: flex;
    border-bottom: 1px solid;
}
.intoNav{
    padding-left: 10px;
    border-bottom: 1px solid;
    cursor: pointer;
}

.intro1{
    border-bottom: 1px solid;
}
.navs h3{
    margin-top: 19px;
    margin-bottom: 3px;
    color: white;
}

@media (max-width: 480px) {
    .headerContainer {
        padding: 5px;
    }

    .profile-pic {
        height: 35px;
        width: 35px;
    }
.a2{
    margin-top: -10px;
}
.a3{
    margin-top: -10px;
}
.a4{
    margin-top: -5px;
}
.a5{
    margin-top: -10px;
}

    .profile-name {
        font-size: 12px;
    }

    .userNav-container {
        margin-top: 50px;
        padding: 10px;
    }

    .navs {
        font-size: 12px;
        padding: 6px;
    }

    .membership,
    .businessProfile,
    .accountSettings {
        padding: 5px;
    }
    .navs h3{
        margin-top: 14px;
        margin-bottom: 3px;
        color: white;
    }
    .usernav{
        width: 80%;
    }
}