.registerPage{
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #f5f5f5;
   
}
.registerForm{
   
    display: flex;
   
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-top:10px solid #0056b3;
    width: 50%;
  margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.registerForm label{
    margin-bottom: 5px;
    font-family:sans-serif;
    font-weight: 700;
}
.registerForm input{
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.registerForm button{
    padding: 10px;
    margin-top: 20px;
    background-color:#0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 1s;
}
.registerForm button:hover{
    background-color: #073b72;
    color:rgb(179, 245, 236);
}
.registerForm p{
    cursor: pointer;
}
.registerForm h1{
    text-align: center;
    margin-top: -10px;
    border-bottom: 4px solid black;
}
@media (max-width: 600px) {
    .registerForm {
        width: 80%;
    }

}
@media (min-width: 601px) and (max-width: 1024px){
    .registerForm {
        width: 70%;
    }
}