.footer-container {
  
}

.appleStore-container img {
    height: 40px;
    margin-top: 0px;
    width: 130px;
}

.playStore-container img {
    height: 40px;
    margin-top: 0px;
    width: 130px;
}
.store-holder{
    justify-content: center;
    margin-bottom: 10px;
}
.socilaMediaStore-container {
    display: flex;
    justify-content: left;
    padding-left: 70px;
   
    gap: 20px;
}

.f-holder button {
    height: 25px;
    width: 25px;
}
.wdadad p{
    font-size: 17px !important;
}
.wdadad p:hover{
     color: orange;
}
.wdadad{
    margin-top: 40px;
}
.x-holder button {
    height: 25px;
    width: 25px;
}

.t-holder button {
    height: 25px;
    width: 25px;
}

.dlc-holder {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -0px;
    
    height: fit-content;
    margin-bottom: 13px;
    height: 100vh;
    background: #f1f1f1;
    ;
    border-top: 1px solid rgba(0, 0, 0, .1);
    flex-wrap: wrap;
    /* Allows wrapping of items for smaller screens */
}

.download-container{
     flex: 1 1 300px;
    /* Ensures items take at least 300px width */
    margin: 10px;
    text-align: center;
    margin-bottom: 10px;
    /* Centers text for smaller screens */
}
.download-container h2{
    margin-left: -45px;
}
.important-links-container
 {
    flex: 1 1 300px;
    /* Ensures items take at least 300px width */
    margin: 10px;
   
    margin-bottom: 10px;
    /* Centers text for smaller screens */
}
.contact{
    margin-top: 40px;
}
.contact-container{
    flex: 1 1 300px;
    /* Ensures items take at least 300px width */
    margin: 10px;
    
    margin-bottom: 10px;
}

.copyright-container {
    background-color: rgb(23, 12, 12);
    color: white;
    padding: 20px;
    margin-top: -10px;
    text-align: center;
    /* Centers text */
}

.tpc-container {
    margin-bottom: 10px;
}
.socialInvisible{
    display: none;
}
.contact ul{
    text-align: left;
margin-left: -30px;
}

.imp-links p:hover{
    color: orange;
}
.tpc-container p{
font-size: 13px !important;
color: #787878;

}
.copyright-container h3{
    font-size: 18px !important;
    font-weight: 500;
}
.imp-links p{
    font-size: 16px !important;
    color: rgb(8, 8, 8) !important;
}
.imp-links p:hover{
     color: rgb(226, 211, 0) !important;
}
.contact li:hover{
    color: rgb(226, 211, 0) !important;
}
.tpc-container p:hover{
     color: rgb(226, 211, 0) !important;
}
/* Media queries */

/* For phones - smaller than 600px */
@media (max-width: 600px) {
    .dlc-holder {
        flex-direction: column;
        /* Stack items vertically */
        height: auto;
        /* Adjust height to auto */
    }

    .download-container,
    .important-links-container,
    .contact-container {
        flex: 1 1 auto;
        /* Adjust for flexible sizing */
        margin: 5px;
    }
    .socialInvisible{
        display: none;
    }
}

/* For tablets - between 600px and 1024px */
@media (min-width: 481px) and (max-width: 1024px)  {
    .dlc-holder {
        flex-direction: row;
        /* Maintain row direction */
        justify-content: space-around;
        /* Space evenly around items */
        height: auto;
        /* Allow height to adjust */
    }

    .download-container,
    .important-links-container,
    .contact-container {
        flex: 1 1 200px;
        /* Set minimum width for items */
    }
    .socialInvisible{
        display: none;
    }
}

/* For laptops and small desktops - between 1025px and 1440px */


/* For large desktops - wider than 1440px */

@media (max-width:1025px){
    .contact-container{
        flex: 1 1 300px;
        /* Ensures items take at least 300px width */
        margin: 10px;
   text-align: left;
        margin-bottom: 10px;
    }
    .important-links-container{
     text-align: left;
        margin: 10px;
   
    }
    .download-container{
     text-align: left;
        margin: 10px;
        justify-content: left;
   
    }
    .contact ul{
        text-align: left;
margin-left: -20px;
    }
    .conulli{
        margin-left: -0px;
    }
    .store-holder{
        justify-content: left;
    }
    .playStore-container{
        height: 40px;
        margin-top: 0px;
        width: 130px;
        margin-right: 20px;
    }
    .appleStore-container{
height: 40px;
    margin-top: 0px;
    width: 130px;
    }
    .playStore-container img{
        width: 100%;
        height: 100%;
    }
    .appleStore-container img{
        width: 100%;
        height: 100%;
    }
   
.socialInvisible{
    display: flex;
    margin-top: 15px;
}
}