
.LoginPage {
    display: flex;
    justify-content:space-around;
    align-items: center;
 
  margin-bottom: 20px;
    background-color: rgb(152, 149, 149);
}
.abd{
    margin-top: -150px;
    margin-left: 80px;
}
.abd h1{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.no1{
    display: flex;
    margin: 30px; 
}
.oneb{
    margin-top: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    
    background-color:#0056b3;
    margin-left: -30px;
    border-radius: 70px;
}
.oneb h1{
    color: white;
}

.oneContent{
    overflow: hidden;
    word-wrap: break-word;
    width: 500px;
    margin-left: 40px;
}
.oneContent h4{
    font-size: larger;
}
.oneContent p{
    color: white;
}
.no2{
    display: flex;
}
.twob{
    margin-top: 20px;
    height: 70px;
    text-align: center;
    width: 70px;
    background-color:#0056b3;
    margin-left: 0px;
    border-radius: 70px;
}
.twob h1{
    color: white;
}
.twoContent{
    overflow: hidden;
    word-wrap: break-word;
    width: 500px;
    margin-left: 40px;
}
.twoContent h4{
    font-size: larger;
    margin-top: 40px;
}
.LoginContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #e7e7e7;
    width: 30%;
    margin-top: 20px;
    border-top: 5px solid  #4219bc;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.LoginContainer label {
    margin-bottom: 5px;
    font-family:sans-serif;
    font-weight: 700;
}
.LoginContainer input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
   
}
.LoginContainer button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4219bc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 1s;
}
.LoginContainer button:hover {
    background-color: #0f4177;
    color:rgb(179, 245, 236);
}
.LoginContainer h1{
    text-align: center;
    margin-bottom: 60px;
}
.LoginContainer p{
    cursor: pointer;
}
.switch:hover{
color: red;
}
@media (max-width: 480px) {
    .LoginContainer {
        width: 70%;
    }
    .LoginPage{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 20px;
    }
    .abd{
        margin-top: 90px;
        margin-left: 70px;
        overflow: hidden;
        word-wrap: break-word;
    }
    .oneContent{
        width: 70%;
        margin-left: 5px;
    }
    .twoContent{
        width: 70%;
        margin-left: 5px;
        margin-top: -5px;
    }
    

}
@media (min-width: 601px) and (max-width: 1024px){
    .LoginContainer {
        width: 50%;
    }
    .LoginPage{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 20px;
    }
    .abd{
        margin-top: 40px;
        margin-left: 70px;
        overflow: hidden;
        word-wrap: break-word;
    }
   
}