.forPassContainer{
width: 70%;
margin-left: 15%;
margin-right: 15%;
margin-top: 100px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding-top: 20px;
        padding-bottom: 31px;
}
.fprPassHolder{
width: 60%;
margin-left: 15%;
   margin-top: 20px;
margin-bottom: 100px;
margin-right: 15%;
  border-left: 1px solid rgb(216, 215, 215);
  border-right: 1px solid rgb(216, 215, 215) ;
  border-bottom:  1px solid rgb(216, 215, 215);
}
.reserPass {
   border: 1px solid rgb(216, 215, 215);
   background-color: rgb(238, 237, 235);
   border-top-left-radius:5px  ;
   margin-top: 20px;
   border-top-right-radius: 5px;

}
.reserPass p{
    padding-left: 20px;
    font-weight: 500 !important;

}
.forInputContainer{
margin-top: 20px
}
.forInputContainer input{
    height: 89%;
    width: 100%;
    outline: transparent;
    border: transparent
}
.captacha{
    display: flex;
    padding-left:10px ;
padding-right: 10px;
padding: 10px;
justify-content: space-between;

}
.fprPassHolder button{
    background-color: #eeba2b;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
@media(max-width:480px){
    .forPassContainer{
width: 100%;

margin-left: 0px;
     
        padding-top: -20px;
        padding-bottom: 31px;
}
.fprPassHolder{
width: 90%;
margin-left: 5%;
   margin-top: 20px;
margin-bottom: 100px;
margin-right: 15%;
  border-left: 1px solid rgb(216, 215, 215);
  border-right: 1px solid rgb(216, 215, 215) ;
  border-bottom:  1px solid rgb(216, 215, 215);
}
}