.reffContainer{

width: 92.5%;
margin-left: 4%;
height: 100%;
}
.headerRef{
    padding-right: 30px;
    margin-top: 20px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 94%;
    background-color: rgb(255, 255, 255);
}
.headerRef h2{
        color: #334e6f !important;

}
.addrefbutton{
display: flex;
align-items: end;
float: right;
margin-top: 10px;
}
.addrefbutton button{
        background-color: #163b6d !important;
}
.refHolder{
margin-top: 60px;
padding: 10px;
background-color: white;
overflow-x: auto;
}
@media(max-width:1024px){
.headerRef{
    padding-right: 30px;
    margin-top: 20px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    background-color: rgb(255, 255, 255);
}
.sunhead{
    margin-top: -40px;
}
.reffContainer{

width: 93.5%;
margin-left: 3%;
height: 100%;
}
}