.referaalViewHolder {
    width: 82%;
    margin-left: 8%;
    margin-top: 40px;
    height: 100%;

}

.refererDetails {
    display: flex;
}

.refererDetails1 {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    background-color: rgb(239, 232, 232);
}

.refererDetails2 {
    margin-top: 28px;
}

.referralDescription {
    margin-top: 20px;
    width: 98%;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.refererDetails1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.referralDescription1 {
    width: 50%;
}

.referralDescription1 img {
    width: 100%;
}

.refMessages {
    margin-top: 20px;
    width: 98%;
    padding: 15px;
    overflow-x: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.refMessages img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.refdetailscontaoner {
    background-color: white;
    padding: 20px;
}

.commentSecHolder {
    display: flex;
    margin-top: 20px;
    margin-bottom: 60px;
    justify-content: space-between;
}

.commentSecHolder1 {
    width: 80%;

}

.commentSecHolder1 input {
    height: 40px;
    width: 100%;
    padding-left: 5px;
    border-radius: 5px;
    outline: transparent;
    border: 3px solid rgb(213, 213, 231);
}

.commentSecHolder2 button {
    background-color: #17A2B8;
    height: 40px;

}
.fontp1{
    font-size: 18px !important;
}
.fontp2{
    font-size: 12px !important;
        color: rgb(138, 137, 137);

}

.viewCommentHolde {
    margin-bottom: 13px;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid black;
}

.senderCard {
    display: flex;
}

.senderImage {
    height: 50px;
    margin-top: 0px;
    width: 50px;
    margin-right: 15px;
    break-inside: 50%;
}

.senderImage img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.p1co {
    font-weight: 600;
}

.p2co {
    font-size: 14px !important;
    margin-top: -10px;
    color: rgb(138, 137, 137);
}

.senderComment {
    margin-left: 90px;
}

.senderComment h3 {
    font-weight: 500 !important;
    font-size: 18px !important;
}
.senderDetails{
    margin-top: -17px;
}

@media (max-width:1024px) {
    .senderComment {
        margin-left: -0px;
        margin-top: 15px;
    }

    .refererDetails1 {
       
        margin-left: -120px;
    }
.refererDetails2{
 margin-top: 22px;
}
    .commentSecHolder1 {
        width: 75%;
    }

    .refererDetails {
      
        justify-content: center;
    }
}