.catsearch{
    display: flex;
  width: 70%;
    padding-top: 20px;
    padding-bottom: 10px;
   
    margin-bottom: 20px;
    justify-content: space-between;
}
.catsearch input{
    height: 40px;
    border-radius: 5px;
    width: 100%;
}
.catsearch2{
    width: 30%;
}
.catsearch1{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
}
.catsearch0{
     width: 30%;
}
.dropDownyy{
    border:1px solid black;
    border-radius: 5px;
}
.catsearch button{
     background-color: #163b6d !important;
}
.refTabg{
    overflow-x: auto;
}
.flexer{
    display: flex;
    justify-content: space-between;
}
.addrefbutton{
    margin-top: 30px !important;

}
.addrefbutton button{
  background-color: #163b6d !important;
    margin-top: -38px !important;
}
.headerRef p{
    margin-top: -12px;
}
.urlPage1{
font-style: 19px !important;
}
.pageURLContainer{
    margin-top: 0px !important;
  
}
.nameP{
    font-weight: 600;
}
.cattime{
    color: rgb(97, 89, 89);
    font-size: 14px !important;
}
.newDetailsModelHolder2{
    display: flex;
    justify-content: space-between;
}
.newModel1{
    display: flex;
}
.newModel1Img{
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-right: 20px;
    border-radius: 50%;
}
.newModel1Img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.newDetailsModelHolder{

    border: 3px solid rgb(193, 210, 214);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.pageIframe iframe{
    height: 400px;
    border-bottom: 1px solid black;
}
.newDetailsModelHolder:hover{
      border: 5px solid rgb(53, 189, 220);
      background-color: rgb(222, 219, 219);
}
.newModel2{
    display: flex;
}
.famreply{
    margin-top: 21px;
    margin-right:10px;
}
@media (max-width:1024px) {
    .refHolder{
       
        padding: 0px;
        width: 109%;
        margin-left: -4%;
    }
.newModel1Img{
    height: 40px;
    width: 40px;
    margin-top: -7px;
    margin-right: 20px;
    border-radius: 50%;
}
.newModel1 p{
    margin-top: -10px;
}
.newDetailsModelHolder{
    border: 3px solid rgb(193, 210, 214);
    border-radius: 5px;
    margin: 0px;
    width: 100%;
    margin-bottom: 15px;
    margin-left: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.newModel1{
    margin-top:20px;
}
.newModel0{
width: 89%;
background-color: rgb(255, 255, 255);
}


.catsearch{
    flex-direction: column;
    width: 100%;
}
.flexer{
    flex-direction: column;
}
.catsearch0{
    width: 100%;
    margin-bottom: 15px;
}
.catsearch2{
     width: 100%;
    margin-bottom: 15px;
}
.addrefbutton{
    margin-top: -64px !important;
    justify-content: end;
    margin-left: 20%;
    display: flex;
    float: right;
    margin-bottom: 20px;

}
.flexer{
    margin-top: -65px
}
}